$red: #990000;
$green: #009900;
$blue: #0000ff;
$yellow: cssf-hsla(56, 60%, 50%);
$yellow-hsl: cssf-hsla(cssf-hue($yellow), cssf-saturation($yellow), cssf-lightness($yellow));
$gray: #aaaaaa;

$color: $blue;
$color-f: cssf-hsla(var(--primary-h), var(--primary-s), var(--primary-l));
$color-fr: cssf-rgba(var(--primary-r), var(--primary-g), var(--primary-b));
$color-s: cssf-hsla(cssf-hue($color), cssf-saturation($color), cssf-lightness($color));
$color-sr: cssf-rgba(cssf-red($color), cssf-green($color), cssf-blue($color));

@debug($color-s);

:root {
  --primary-h: #{cssf-hue($color)};
  --primary-s: #{cssf-saturation($color)};
  --primary-l: #{cssf-lightness($color)};
  --primary-r: #{cssf-red($color)};
  --primary-g: #{cssf-green($color)};
  --primary-b: #{cssf-blue($color)};
}

body {
  font-family: Arial;
}

table {
  table-layout: fixed;
  width: 100%;
}

th, td {
  text-align: left;
}

.box {
  height: 100px;
}

.cssf-identity {
  background: $color-f;
  color: $yellow-hsl;
}

.s-identity {
  background: $color-sr;
}

.cssf-darken {
  background: cssf-darken($color-f, 20%);
}

.s-darken {
  background: darken($color-sr, 20%);
}

.cssf-mix {
  background: cssf-mix($color-fr, $yellow, 50%);
}

.s-mix {
  background: mix($color-sr, $yellow, 50%);
}
